@import './colors';

* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $color-black;
  color: $color-white;
}
a { text-decoration: none; }

.flex { display: flex; }
.row { flex-direction: row; }
.col { flex-direction: column; }
.align-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }

@media (max-width: 1024px) {

}
@media (max-height: 830px) {

}
@media (max-height: 780px) {

}