@import './colors';

* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $color-black;
  color: $color-white;
}
a { text-decoration: none; }
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    height: auto;
  }
}
@media (max-height: 830px) {
  .container {
    gap: 2rem;
  }
}
@media (max-height: 780px) {
  .container {
    height: auto;
  }
}