@import '../../styles/colors';

.main__content {
  border: thin solid green;
  display: flex;
  justify-content: space-between;

  .content__description {
    width: 27%;
    
      .content__title {
        font-size: 60px;
      }

      .content__link {}

      .description__thumbs {
        .thumb__button {
          .image__small {}
        }
      }
  }

  .content__image {
    width: 73%;
    max-width: 1127px;

    .image__large {
      width: 100%;
    }
  }
}