@import '../../styles/colors';

.main__content {
  width: 92vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  .content__description {
    width: 30%;
    position: relative;

    .description__highlight {
      height: 545px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .content__title {
        font-weight: 600;
        font-size: 3.75rem;
        line-height: 4rem;
      }
  
      .content__link {
        width: 14rem;
        gap: .8rem;
        background-color: $color-white;
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3.125rem;
        color: $color-black;
        font-size: 1.2rem;
        text-align: center;
        transition: gap .5s ease;

        .hidden {
          display: none;
        }
  
        &:hover {
          gap: 2rem
        }
      }
    }
    

    .description__thumbnails {
      gap: .9rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      
      .image__small {
        width: 100%;
        border-radius: .2rem;
        transition: all .5s ease;
        
        &.active {
          border: .3rem solid $color-white;
        }
      }
    }
  }
  
  .content__image {
    width: 73%;
    max-width: 1127px;
    
    .image__large {
      width: 100%;
      border-radius: 1rem;
    }
  }
  
}
@media (max-width: 1280px) {
  .main__content {
    .content__description {
      width: 35%;
      .description__highlight {
        height: 330px;
        .content__title {
          font-size: 2.3rem;
          line-height: 2.8rem;
          margin-top: 2rem;
        }
    
        .content__link {
          padding: .5rem;
        }
      }
    }
    .content__image {
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
  .main__content {
    .content__description {
      width: 40%;

      .description__highlight {
        height: 250px;

        .content__title {
          font-size: 2rem;
          line-height: 2.2rem;
          margin-top: 0;
        }
    
        .content__link {
          padding: .3rem;
        }
      }
      .description__thumbnails {
        margin-top: 2rem;
        width: 92vw;
        display: flex;
        margin-top: 2rem;
      }
    }
    .content__image {
      width: 60%;
    }
  }
}

@media (max-width: 576px) {
  .main__content {
    flex-direction: column;
    height: auto;
    padding-bottom: 8rem;
    position: relative;

    .content__description {
      width: 100%;
      position: static;

      .description__highlight {
        display: flex;
        justify-content: space-between;
        height: 180px;

        .content__title {
          width: 100%;
        }
    
        .content__link {
          padding: .5rem;
          margin-top: 1.2rem;
        }
      }

      .description__thumbnails {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 2rem;
        width: 100%;
      }
    }
    .content__image {
      width: 100%;
    }
  }
}

@media (max-width: 425px) {
  .main__content {
    width: 85vw;
    padding-bottom: 5.5rem;

    .content__description {
      .description__highlight {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
        height: 260px;

        .content__title {
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 2.3rem;
          width: 100%;
          height: 205px;
        }
      }
      .description__thumbnails {
        width: 100%;
        .image__small {
          width: 70px;
        }
      }
    }
  }
}