@import '../../styles/colors';

.header {
  width: 92vw;
  height: 140px;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__menu-top {
    .menu__toggle {
      display: none;
    }
    
    .header__menu-content {
      display: flex;
      gap: 2.8rem;
      .menu-top--link {
        color: $color-white;
        font-size: 1.5rem;
        line-height: 7rem;
        border-bottom: .65rem solid transparent;
        
        &:hover {
          border-color: $color-white;
        }
      }
    } 
  }
}

@media (max-width: 768px) {
  .header {
    .header__logo {
      width: 150px;
    }
    .header__menu-top {
      .header__menu-content {
        .menu-top--link {
          font-size: 1.2rem;
          line-height: 3rem;
          border-bottom: .2rem solid transparent;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    height: 100px;
    padding: 0;
    .header__menu-top {
      gap: 1rem;

      .menu__toggle {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 32px;
        height: 30px;

        hr {
          border: thin solid $color-white;
        }

        &.menu__toggle-close {
          position: absolute;
          z-index: 1;
          top: 2rem;
          right: 2rem;  

          hr {
            transform: rotate(0) translate(0, 0);
            transition: all 0.2s ease-in-out;
          }
          hr:first-child {
            transform: rotate(45deg) translateX(.45rem);
          }
          hr:last-child {
            transform: rotate(-45deg) translateX(.45rem);
          }
        }
      }
      
      .header__menu-content {
        display: none;

        &.visible {
          width: 100vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          padding: 1rem 0;
          background-color: $color-black;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
        
        .menu-top--link {
          font-size: 1.5rem;
          padding: 1rem;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .header {
    width: 85%;

    .header__logo {
      width: 130px;
    }
  }
}