@import '../../styles/colors';

.header {
  width: 90%;
  height: 100px;
  margin: 0 auto;

  .header__menu-top {
    gap: 1rem;

    .menu-top--link {
      color: $color-white;
      font-size: 1.5625rem;
      line-height: 5.7rem;
      border-bottom: .5rem solid transparent;
      
      &:hover {
        border-color: $color-white;
      }
    }
  }
}