@import '../../styles/colors';

.footer {
  background-color: $color-white;
  color: $color-black;
  font-size: .75rem;
  display: flex;

  .footer__left {
    width: 33%;
    gap: 5rem;
    padding: 3rem 5rem;

    .footer--col {
      .footer__logo {
        gap: .5rem;
      }

      .footer__nav-social {
        gap: .8rem;
        margin-top: 2.5rem;

        .nav__item {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .footer__nav-links {

      .nav__link {
        border-bottom: thin solid;
        line-height: 2.2rem;
        width: 185px;
        color: $color-black;
        transition: padding-left .5s ease;

        &:hover {
          padding-left: 1rem;
        }
      }
    }
  }
  
  .footer__right {
    width: 67%;
    background-color: $color-black-96;
    gap: 5rem;
    padding: 3rem 0;
    padding-left: 10.5rem;
  }

  .footer__title {
    font-size: 1.25rem;
  }

  address {
    font-size: .75rem;
    margin-top: 1rem;
    font-style: normal;
  }

  @media (max-width: 1280px) {
    .footer__left {
      gap: 2rem;
      padding: 3rem 4rem;

      .footer__nav-links {
        .nav__link {
          width: 130px;
        }
      }
    }
    .footer__right {
      padding-left: 2.5rem;
      gap: 2rem;
    }
  }

  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      .footer__left {
        width: 100%;
        padding: 0;
        background: red
      }
    }
  }

}