@import '../../styles/colors';

.footer {
  background-color: $color-white;
  color: $color-black;
  font-size: .75rem;

  .footer__left {
    width: 35%;
    gap: 1rem;
    padding: 3rem 3.3rem;

    .footer--col {
      .footer__logo {
        gap: .5rem;
      }

      .footer__nav-social {
        gap: .8rem;

        .nav__item {
          img { vertical-align: bottom; }
        }
      }
    }

    .footer__nav-links {

      .nav__link {
        border-bottom: thin solid;
        line-height: 2.2rem;
        width: 185px;
        color: $color-black;
      }
    }
  }
  
  .footer__right {
    width: 65%;
    background-color: $color-black-96;
    gap: 1rem;
    padding: 3rem 3.3rem;
  }

  .footer__title {
    font-size: 1.25rem;
  }

  address {
    max-width: 244px;
    font-size: .75rem;
    margin-top: 1rem;
    font-style: normal;
  }

}